body{
    font-family: Arial;
    margin: 0;
    height: 0;
    cursor: default;
}


header {
    height: 70px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position:fixed;
    top:0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.header-left{
    float: left;
    color: tomato;
    line-height: 70px;
    padding: 0 20px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 1s;
}

.header-left span{
    color:white;
}

.header-left:hover{
    color: white;
}

.header-left:hover span{
    color: tomato;
}

.header-right{
    float: right;
    padding: 0 20px;
}


.header-right a{
    line-height: 70px;
    color:white;
    display:inline-block;
}

.header-menu{
    padding: 0 10px;
}

.header-menu:hover{
    background-color: tomato;
    transition: all 1s;
}

.top-wrapper{
    padding: 50px 0 0 0;
    text-align: center;
}

.top-wrapper h1{
    letter-spacing: 9px;
    font-weight: bold;
    font-size: 90px;
}

.top-wrapper h3{
    font-size: 30px;
    color: silver;
    font-style: normal;
    font-weight: 1;
    letter-spacing: 9px;
}

.top-wrapper span{
    color: orange;
}

.ninjaken{
    height: 300px;
    width: 390px;
}

.message-wrapper{
    background-color: #f7f7f7;
    text-align: center;
}

footer{
    background-color: #2f5167;
    color:#fff;
    height: 100px;
    /* padding: 1px 0 0 10px; */
}

.footer-logo{
    float: left;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 100px;
    padding-left: 50px;
}

.footer-list{
    float: right;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 13px;
}

.footer-list li{
    padding-bottom: 5px;
}

.heading{
    padding: 7px 10px;
}
